body {
    background-color: whitesmoke;
}
table#education tr td {
    padding: 0 20px;
}
table#workExperience tbody tr td {
    padding: 0 20px;
}
table#skills tr td {
    padding: 0 20px;
}
img {
    border-radius: 50%;
}
h1, h3 {
    color: lightslategrey;
}